<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Random Form</title>
</head>
<body>
    <form action="/authorRandom" method="get">
        Szerző Neve:
        <input type="text" name="author">
        <input type="submit">
    </form>
</body>
</html>