<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Author Quote</title>
</head>
<body style="text-align: center; font-size: 200%;">
    <h1>Random Quote</h1>
    <p> <%= result %></p>
    <p><i>"<%= result.quote %>"</i></p>
    <p><b>- <%= result.author %></b></p>
    
</body>
</html>