<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quote By <% quote.author %> </title>
</head>
<body style="text-align: center; font-size: 200%;">
    <h1>Random Quote</h1>
    <p>
        <i>"<%= quote.quote %>"</i> - <strong><%= quote.author %></strong>
    </p>
</body>
</html>